* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.todosCaixotes1 {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(224, 224, 224, 0.87);
}

img {
    width: 20%;
}

.todosCaixotes2 {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(224, 224, 224, 0.87);
}

.caixaAvaliacao {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(148, 216, 148, 0.87);
}

.caixoteAvaliacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 60%;
    background: rgb(82, 189, 216);
    border-radius: 15px;
}

.caixote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 60%;
    background: rgb(30, 165, 255);
    border-radius: 15px;
}

h3 {
    font-size: 2em;
    margin: 0 1em 1.5em;
}

h4 {
    font-size: 3em;
    margin: 10px auto;
    cursor: default;
}

.btnCaixote {
    padding: 2em 4em;
    border: none;
    border-radius: 15px;
    background-color: rgb(138, 247, 210);
    font-weight: bold;
    cursor: pointer;
}

.btnCaixoteDenovo {
    padding: 1.5em;
    margin: 1em auto;
    border: none;
    border-radius: 15px;
    background-color: rgb(138, 247, 210);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
}

.quizzCaixaFlex {
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(224, 224, 224, 0.87);
}

.nivelCaixaFlex {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(224, 224, 224, 0.87);
}

.quizzCaixa {
    text-align: center;
}

.nivel {
    text-align: center;
}

.btnResposta {
    padding: 1.5em;
    font-size: 1.2em;
    margin: 1em 1.5em 2.5em;
    border: solid rgb(73, 73, 73) 2px;
    border-radius: 8px;
    cursor: pointer;
}

.btnNivel {
    padding: 1.5em;
    font-size: 1.2em;
    margin: 1em 1.5em 2.5em;
    border: solid rgb(73, 73, 73) 2px;
    border-radius: 8px;
    cursor: pointer;
}

.btnResposta:hover {
    background: rgb(195, 253, 234);
    border: solid rgb(73, 73, 73) 2px;
}

.facil:hover {
    background: rgb(131, 226, 255);
    border: solid rgb(73, 73, 73) 2px;
}

.medio:hover {
    background: rgb(160, 255, 131);
    border: solid rgb(73, 73, 73) 2px;
}

.dificil:hover {
    background: rgb(255, 243, 131);
    border: solid rgb(73, 73, 73) 2px;
}

.extremo:hover {
    background: rgb(255, 121, 121);
    border: solid rgb(73, 73, 73) 2px;
}

h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

h5 {
    font-size: 3em;
    margin-bottom: 1em;
}

.pular {
    text-decoration: none;
    color: #585858;
    font-size: 1.2em;
}

.errou:focus {
    background: rgb(255, 120, 120);
}

.acertou:focus {
    background: rgb(134, 255, 160);
}

.chance {
    position: fixed;
    top: 1em;
    right: 1em;
}

.home {
    position: absolute;
    display: none;
    width: 4%;
    position: fixed;
    top: 1em;
    left: 1em;
    cursor: pointer;
}

.home:hover {
    opacity: 0.8;
}

.estrelas {
    font-size: 4em;
    cursor: pointer;
}

.avaliar {
    font-size: 2em;
    margin: 0.5em 0;
}

.respostaEstrela {
    font-size: 4em;
    cursor: default;
}

.botoes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
    .caixote {
        text-align: center;
        width: 90%;
        height: 60%;
    }

    .chance {
        font-size: 2em;
    }

    img {
        width: 30%;
    }

    h3 {
        font-size: 300%;
    }

    h4 {
        font-size: 3em;
    }

    h5 {
        font-size: 3em;
        margin: 5px 10px;
    }

    .respostasCaixa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }

    h2 {
        font-size: 3em;
        margin: 5px 10px;
    }

    .btnCaixote {
        padding: 8% 10%;
        font-size: 1.5em;
    }

    .btnResposta {
        padding: 1em;
        font-size: 1.5em;
        margin: 1em 2em 3em;
    }

    .btnNivel {
        padding: 1em;
        font-size: 1.5em;
        margin: 1em 2em 3em;
    }

    .pular {
        font-size: 1.8em;
    }

    .home {
        width: 10%;
    }

    .avaliar {
        font-size: 2.8em;
        margin: 1em 0;
    }

    .estrelas {
        font-size: 3.8em;
    }

    .caixoteAvaliacao {
        text-align: center;
        width: 90%;
        height: 74%;
    }

    .respostaEstrela {
        font-size: 4em;
    }

}

@media screen and (max-width: 700px) {

    .chance {
        font-size: 1.4em;
    }

    .respostasCaixa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 200%;
    }

    h4 {
        font-size: 1.8em;
        margin: 1em auto 1em;
        cursor: default;
    }

    h5 {
        font-size: 1.7em;
    }

    .pular {
        font-size: 1.5em;
    }

    .btnCaixote {
        padding: 8% 10%;
        font-size: 1.1em;
    }

    .btnResposta {
        padding: 1em;
        font-size: 1.2em;
        margin: 1em 2em 3em;
    }

    .btnNivel {
        padding: 1em;
        font-size: 1.2em;
        margin: 1em 2em 3em;
    }

    .home {
        width: 18%;
    }

    .respostaEstrela {
        font-size: 2.4em;
    }
}
